@import url('https://fonts.googleapis.com/css2?family=Love+Ya+Like+A+Sister&display=swap');

/* Recreated from SwiftUI */
.vstack {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

/* Recreated from SwiftUI */
.hstack {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.spacer {
    flex-grow: 1;
}

.bold {
    font-weight: bold;
}

.centered {
    text-align: center;
}

.fake_link {
    text-decoration: none;
    color: var(--text);
    cursor: unset;
}

/* Setting classes to use theme colors (text and background) */
.green { color: var(--theme); }
.green-b { background: var(--theme); }
.orange { color: var(--theme-secondary); }
.orange-b { background: var(--theme-secondary); }


/*Custom Font h1 and h2 already have it, but this is for use elsewhere*/
.cFont {
    font-family: "Love Ya Like A Sister", cursive;
    font-weight: 500;
    font-style: normal;
}